<header>
    <div class="shadow p-3 mb-5 bg-body rounded" style="border-left: 0px; border-right: 0px">
        <a id="semSub" class="navbar-brand cor-fonte" asp-area="" asp-controller="Estudante" asp-action="Estudante"><strong>Estudantes</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="divC navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a id="semSub" class="nav-link cor-fonte" asp-area="" asp-controller="Login" asp-action="Login"><strong>Home</strong></a>
                </li>
            </ul>
        </div>
    </div>
</header>
    <div>
        <h3 class="cor-fonte">Estudante - Editar</h3> <br />
    </div>
<div>
    <a class="btn btn-success" asp-area="" asp-controller="Estudante" asp-action="EstudanteEditar">Novo</a>
</div>
<br />
<div class="row cor-fonte">

    <!-- Identificador -->
    <div class="col-md-2 col-xs-2">
        <div class="form-group">
            <label for="identificador">Identificador</label>
            <input id="identificador" disabled="disabled" readonly type="text" value="@Model.Identificador" class="form-control cor-fonte" name="identificador">
        </div>
    </div>

    <!-- Nome -->
    <div class="col-md-3 col-xs-3">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" required="required" type="text" value="@Model.Nome" class="form-control cor-fonte" name="nome">
        </div>
    </div>

    <!-- Curso -->
    <div class="col-md-2 col-xs-2">
        <div class="form-group">
            <label for="curso">Curso</label>
            <input id="curso" required="required" type="text" value="@Model.Curso" class="form-control cor-fonte" name="curso">
        </div>
    </div>

    <!-- Data de Nascimento-->
    <div class="col-md-2 col-xs-2">
        <div class="form-group">
            <label for="dataNascimento">Data de nascimento</label>
            <input id="dataNascimento" required="required" type="date" value="@Model.DataNascimento" class="form-control cor-fonte" name="dataNascimento">
        </div>
    </div>

    <!-- Status -->
    <div class="col-md-2 col-xs-2">
        <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control">
                @if (@Model.Status)
                {
                    <option value="2">Selecione</option>
                    <option selected value="1">Ativo</option>
                    <option value="0">Inativo</option>
                }
                else if (!@Model.Status)
                {
                    <option value="2">Selecione</option>
                    <option value="1">Ativo</option>
                    <option selected value="0">Inativo</option>
                }
                else
                {
                    <option selected value="2">Selecione</option>
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                }
            </select>
        </div>
    </div>

    <div class="col-md-1 col-xs-1">
        <div class="form-group">
            <label for="buscar"></label>
            <button class="btn btn-primary" onclick="estudanteEditar.funcoes.salvar()">Salvar</button>
        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.js"></script>
<script src="~/Content/Estudante/Scripts/EstudanteEditar.js"></script>